/* INPUT ABSEN */
.bg-form-absen {
    width: 85%;
    height: 120px;
    border-radius: 15px;
    background-color: #000;
    
}

.bg-form-absen h4 {
    
    color: white;
}

/* DAFTAR TABLE */
.daftar-tabel {
    border-radius: 10px; 
    color: white;
    background-color: #000;
}

/* TABLE ABSEN */
.table {

    width: 99.8%;
    border-radius: 10px !important;
}

.waktu .btn-light { 
    padding: 1px;
    width: 1.5rem;
    height: 1.5rem;

}








@media (max-width: 576px) {
    .bg-form-absen {
        width: 100%;
        height: 150px;
    }

    .absen .btn-secondary {
        width: 100%;
    }

    .daftar-tabel {
        width: 100%;
    }

    .waktu {
        padding-left: 72%; 
        position: absolute;
    }
}   


@media (min-width: 992px) {
    .bg-form-absen {
        width: 82%;
    }
    .daftar-tabel {
        width: 82.2%;
    }

    .waktu {
        position: absolute;
        margin-left: 75%;
    }

    .daftar-tabel h5 {
    }
    
}

body {
    font-family: "Lato", sans-serif;
}



.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 50%; 
    }

    .sidenav{
        width: 35%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 30%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;

}